.button {
	height: 50px;
	border-radius: 8px;
	font-weight: 500;
	background: var(--purple-background);
	color: #fff;
	padding: 0 32px;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	border: 0;

	transition: filter 0.2s;
	img {
		margin-right: 0px;
	}

	&.outlined {
		background: var(--white-pretty);
		border: 1px solid var(--purple-background);
		color: var(--purple-background);
	}
	// Apply hover only if the button is not disabled
	&:not(:disabled):hover {
		filter: brightness(0.9);
	}

	&disabled {
		opacity: 0.6;
		cursor: not-allowed;
	}
}
