.question {
  background: var(--white-pretty);
  border-radius: 8px;
  box-shadow: 0px 2px 12px var(--grey-borders);
  padding: 24px;
  margin-top: 30px;

  & + .question {
    margin-top: 8px;
  }

  p {
    color: var(--black-text);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: var(--grey-borders);
        font-size: 14px;
      }
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.3s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--grey-borders);
        gap: 8px;

        &.liked {
          color: var(--purple-background);

          svg path {
            stroke: var(--purple-background);
          }
        }
      }

      &:hover {
        filter: brightness(0.6);
      }
    }
  }
}
